{% extends 'base.html' %}

{% block content %}
<h1>Contact</h1>
<p>This is a template</p>

{{ my_htmlc|safe}}

<p>This is a template</p>

<p>
    {{ my_textc }}, {{ my_numberc }}, {{ my_listc }}
</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
<ul>
{% for abc in my_listc %}
    {% if abc == 312 %}
        <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
    {% elif abc == "abc" %}
        <li>This is not the network</li>             
    {% else %}
        <li>{{ forloop.counter }} - {{ abc }}</li> 
    {% endif %}
        
{% endfor %}
</ul>   
{% endblock content %}